/* CSS Portfolio */

/*RESETS*/
*{
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

/*GRUNDEINSTELLUNGEN--------------------------*/
body{
  color: var(--co-schrift);
  background-color: var(--co-bg);
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
main h1{
  font: var(--f-haupttitel);
  margin-bottom: 5px;
}
main h2{
  font: var(--f-zwischentitel);
  margin: 15px 0 15px 0;
}
main p{
  font: var(--f-text);
}

/*VARIABELN----------------------------------*/
:root{
  /*Farben*/
  --co-bg: white;
  --co-schrift: black;
  --co-akzent-dark: #dd1767;
  --co-akzent-light: #e872a7;
  /*Schriften*/
  --f-haupttitel: bold 3.6rem/120% sans-serif;
  --f-zwischentitel: bold 1.6rem/120% sans-serif;
  --f-navigation: normal 1.3rem/120% sans-serif;
  --f-text: normal 1.1rem/120% sans-serif;
  --f-small: normal 0.85rem/110% sans-serif;
  /*Abstände*/
  --ga-seite: 2vw;
  --ga-content: 15vw;
  --ga-oben-s: 15px;
  --ga-oben-l: 50px;
  /*Grids*/
  --gr-standart: 1fr 1fr;
  /*Borders*/
  --bo-standart: 1px solid var(--co-schrift);
}

/*DESKTOP------------------------------------*/
/*DESKTOP------------------------------------*/
/*DESKTOP------------------------------------*/

/*-------------------Header*/
/*Grundeinstellungen*/
header{
  padding: var(--ga-seite) var(--ga-oben-l);
  border-bottom: var(--bo-standart);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*Logo*/
header > a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header a img,
header img{
  width: 20vw;
  padding: var(--ga-oben-l) var(--ga-oben-l) var(--ga-oben-l) 0;
}
/*Navigation*/
header nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header div ul{
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
}
header div ul li{
  display: inline;
  padding: 0 0 0 20px;
  font: var(--f-navigation);
}
/*Navigation Links*/
header div ul a{
  transition: 0.3s;
}
header div ul a:hover{
  color: var(--co-akzent-dark);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--co-akzent-dark);
}
header div ul li.current_page_item{
  color: var(--co-akzent-dark);
}
/*Navigation Sub-Menu*/
header div ul li ul.sub-menu{
  display: none;
  position: absolute;
  padding-top: 8px;
  width: 100%;
}
header div ul li ul.sub-menu li{
    font: var(--f-small);
}
li.menu-item-has-children:hover ul.sub-menu{
  display: block;
}

/*---------------------Main*/
/*Grundeinstellungen*/
main{
  padding: var(--ga-seite) var(--ga-oben-l);
}
main p:not( :last-of-type),
body.single main article ul li{
  margin: 20px 0;
  font: var(--f-text);
}
body.single main a,
body.page main a,
body.archive main a{
  color: var(--co-akzent-light);
  transition: 0.3s;
}
body.single main a:hover,
body.page main a:hover,
body.archive main a:hover{
  text-decoration: underline;
}
main p:last-of-type{
  padding-bottom: var(--ga-oben-s);
}
/*Startseite*/
body.home main article{
  padding: var(--ga-oben-l) var(--ga-content);
  display: grid;
  grid-gap: var(--ga-seite);
  grid-template-columns: var(--gr-standart);
}
body.home main article div{
  padding: 20px;
  background-color: var(--co-akzent-dark);
  color: var(--co-bg);
}
body.home main article div img{
  height: 240px;
  width: 100%;
  object-fit: cover;
}
/*Seiten & Archivseiten*/
body.page main article,
body.archive main article{
  padding: var(--ga-oben-l) var(--ga-content);
}
/*Portfolioseiten & Archive*/
body.page main article > section,
body.archive main article > section{
  display: grid;
  grid-gap: var(--ga-seite);
  grid-template-columns: var(--gr-standart);
}
body.page main article > section img,
body.archive main article > section img{
  height: 240px;
  width: 100%;
  object-fit: cover;
}
body.page main article section,
body.archive main article section{
  margin-top: var(--ga-oben-l);
}

/*Blogbeitrag*/
body.single main article{
  padding: var(--ga-oben-l) var(--ga-content);
}
body.single main article > p:nth-child(1),
body.single main article > p:nth-child(2){
  margin: 0 0 2px 0;
  color: var(--co-akzent-light);
  font: var(--f-small)
}
/*Blogbeitrag Bild*/
body.single main article img.attachment-post-thumbnail{
  padding: var(--ga-oben-l) 0;
  height: 600px;
  width: 100%;
  object-fit: contain;
}
body.single main article img{
  padding: var(--ga-oben-l) 0;
  width: 100%;
}
/*Blogbeitrag, Liste*/
body.single main article ul{
  margin: 0 0;
  padding: 0 0;
}
body.single main article ul li{
  display: inline;
}
body.single main article ul li:not(:last-child)::after{
  content: ", ";
}
/*Sociallinks Container*/
body.single div.sociallinks{
  margin: 30px 0;
  padding: 10px 20px 0 20px;
}
body.single div.sociallinks p a{
  color: white;
}
/*Textauszeichnung Container*/
body.single div.textauszeichnung{
  background-color: var(--co-schrift);
}
body.single div.textauszeichnung p{
  color: var(--co-bg);
  margin: 30px 0;
  padding: 30px;
  font: var(--f-zwischentitel);
}

/*Formular*/
div.nf-form-layout{
  margin-top: var(--ga-oben-l);
}
.nf-form-content{
  padding: 0 0 !important;
}
.nf-form-fields-required{
  padding-bottom: 10px;
}
.ninja-forms-req-symbol,
.nf-error .nf-error-msg,
.ninja-forms-req-symbol,
.nf-error-field-errors{
  color: var(--co-akzent-light) !important;
}
.nf-error.field-wrap .nf-field-element:after{
  background: var(--co-akzent-light) !important;
}
.nf-error .ninja-forms-field{
  border-color: var(--co-akzent-light) !important;
}
.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea{
  border: var(--bo-standart) !important;
  color: var(--co-akzent-light) !important;
  background-color: transparent !important;
}
.nf-pass.field-wrap .nf-field-element:after{
  color: var(--co-akzent-light) !important;
}
/*------------------Footer*/
/*Grundeinstellungen*/
footer{
  padding: var(--ga-seite) var(--ga-oben-l);
  border-top: var(--bo-standart);
}
footer p{
  font: var(--f-small);
}

/*MOBILE-------------------------------------*/
/*MOBILE-------------------------------------*/
/*MOBILE-------------------------------------*/
@media only screen and (max-width: 414px) {
/*Grundeinstellungen Variabeln*/
  :root{
    /*Schriften*/
    --f-haupttitel: bold 2.3rem/120% sans-serif;
    --f-zwischentitel: bold 1.6rem/120% sans-serif;
    --f-navigation: normal 1.15rem/120% sans-serif;
    --f-text: normal 1rem/120% sans-serif;
    --f-small: normal 0.8rem/110% sans-serif;
    /*Abstände*/
    --ga-seite: 20px;
    --ga-content: 0vw;
    --ga-oben-s: 20px;
    --ga-oben-l: 20px;
    /*Grids*/
    --gr-standart: 1fr;
  }
  /*---------Header*/
  /*Grundeinstellungen*/
  header{
    flex-direction: column;
  }
  /*Logo*/
  header > a{
    justify-content: flex-start;
  }
  header a img{
    width: 60vw;
  }
  /*Navigation*/
  header nav div{
    padding-bottom: 20px;
  }
  header div ul li{
    display: block;
    padding: 3px 0;
    font: var(--f-navigation);
  }
  /*Navigation Sub-Menu*/
  header div ul li ul.sub-menu li{
      font: var(--f-text);
  }
  li.menu-item-has-children:hover ul.sub-menu{
    display: block;
    height: 90px;
    background-color: white;
    position: relative;
    z-index: 3;
  }
  /*Other*/
  body.home main article{
    padding: 0 0;
  }
  body.single main article img.attachment-post-thumbnail{
    padding: 30px 0 10px 0;
    height: auto;
    object-fit: none;
  }
}
